extends ../layouts/master.pug

block header
  .header-index
    include ../partials/_header.pug

block content
  -
    const first_screen_slider = [
      {
        description: "Более 10 лет успешной работы на российском и международном рынках юридических услуг и реструктуризации бизнеса"
      },
      {
        description: "Свыше 700 завершенных проектов в различных юрисдикциях, сопровождение международных арбитражных споров по правилам LCIA, ICC, SCC в Лондоне, Цюрихе и Стокгольме"
      },
      {
        description: "Признание экспертизы фирмы ведущими российскими и международными рейтингами, включая Chambers, Legal500, IFLR1000, World Tax"
      }
    ]

    const index_services = [
      {
        url: "/practices",
        title: "Уголовно-правовая защита бизнеса",
        description: "Представляем интересы клиентов в рамках уголовного судопроизводства по экономическим делам.",
        img: "assets/images/index/services/service-1.svg"
      },
      {
        url: "/practices",
        title: "Сопровождение банкротства",
        description: "Комплексное сопровождение процедур банкротства на стороне кредитора или должника.",
        img: "assets/images/index/services/service-2.svg"
      },
      {
        url: "/practices",
        title: "Разрешение споров",
        description: "Консультируем и представляем интересы клиента в досудебном урегулировании и судебных делах.",
        img: "assets/images/index/services/service-3.svg"
      },
    ]

    const index_trust_us = [
      {
        url: "assets/images/index/trust-us/trust-1.png",
        alt: "International school of Kazan"
      },
      {
        url: "assets/images/index/trust-us/trust-2.png",
        alt: "City star"
      },
      {
        url: "assets/images/index/trust-us/trust-3.png",
        alt: "ZoltWasser"
      },
      {
        url: "assets/images/index/trust-us/trust-4.png",
        alt: "ZOLT"
      },
      {
        url: "assets/images/index/trust-us/trust-5.png",
        alt: "Awatera"
      },
      {
        url: "assets/images/index/trust-us/trust-6.png",
        alt: "Казметрострой"
      },
      {
        url: "assets/images/index/trust-us/trust-7.jpg",
        alt: "АК Барс Холдинг"
      },
      {
        url: "assets/images/index/trust-us/trust-8.jpg",
        alt: "ЗМК"
      },
      {
        url: "assets/images/index/trust-us/trust-9.png",
        alt: "Рубеж М"
      },
      {
        url: "assets/images/index/trust-us/trust-10.jpg",
        alt: "Технострой"
      },
      {
        url: "assets/images/index/trust-us/trust-11.jpg",
        alt: "It Park"
      },
      {
        url: "assets/images/index/trust-us/trust-12.png",
        alt: "Банк Казани"
      },
    ]

    const index_testimonials = [
      {
        name: "Григорий Крючков",
        position: "генеральный директор АО «Казметрострой»",
        img: "assets/images/index/testimonials/testimonial-1.jpg",
        text: "Мы работаем с Семис уже более 7 лет. В самых сложных и спорных ситуациях неизменно обращаемся к помощи и экспертному мнению коллег. Свое доверие  основываем на внушительном опыте совместной работы, всегда высоком уровне профессионализма, четкости и пунктуальности со стороны Семис. Это компания, которая заслуженно имеет высокую репутацию и всегда подтверждает ее уровнем ведения дел."
      },
      {
        name: "Александр Галкин",
        position: "генеральный директор УК «Бугорос»",
        img: "",
        text: "Искренне благодарим команду юристов Семис за надежную юридическую поддержку и подробные налоговые консультации, за всегда безупречное качество вашей работы. Особо ценим вашу внимательность, доброжелательность. Считаем большой удачей, что однажды обратившись к вам за помощью, мы получили надежного делового партнера на долгие годы. Хотелось бы пожелать и впредь поддерживать такие же высокие стандарты оказания консалтинговых услуг!"
      },
      {
        name: "Роман Мельников",
        position: "генеральный директор ООО «Рубеж М»",
        img: "assets/images/index/testimonials/testimonial-2.jpg",
        text: "Обратились в Семис после выездной налоговой проверки. Тогда на руках был акт с доначислением в десятки миллионов рублей, с которым мы были полностью не согласны. Команда Семис привела такие аргументы, что претензии налоговых органов были сняты еще на этапе досудебного обжалования. Большое вам спасибо за внимательное отношение, искренний интерес, ну и, конечно же, за выигранное дело. Безоговорочно, Семис удалось собрать истинную команду юристов-профессионалов, на которую можно положиться в самых непростых ситуациях и не прогадать. Теперь, Семис наш постоянный партнер и правовой советник. Желаем Вам дальнейшего процветания и много интересных дел!"
      },
      {
        name: "Иван Архипов",
        position: "главный бухгалтер ООО «Парсел Сервис Групп»",
        img: "assets/images/index/testimonials/testimonial-3.jpg",
        text: "Вот уже не первый год, в случае необходимости защиты правовых интересов нашей компании, мы обращаемся за помощью в Семис. Благодаря своевременной помощи Семис нам удалось разрешить возникший налоговый спор в досудебном порядке, возместить НДС и избежать необоснованных выплат. С тех пор Семис является нашим постоянным налоговым консультантом, помощь которого мы очень ценим и рекомендуем нашим друзьям и партнерам. Спасибо Вам – за полезные советы, искреннее участие и преданность своему делу."
      },
    ]

  main.main.index
    .index__first-screen
      h1.index-title_hovered Themis - ведущая юридическая фирма, специализирующаяся на комплексной защите бизнеса
      p.index-title #[span.name Themis] #[span.line] #[span.text ведущая юридическая фирма, специализирующаяся на комплексной защите бизнеса]
      .first-screen__contacts
        .phone
          a(href="tel:+78005553535") 8 800 555-35-35
        .email
          a(href="mailto:themis@mail.com") themis@mail.com
      .first-screen__slider.swiper-container
        .first-screen__slider-wrapper.swiper-wrapper
          each slide in first_screen_slider
            .first-screen__slider-slide.swiper-slide
              .first-screen__content.content
                .first-screen__description
                  p= slide.description
                  +moreBtn("/about", "Больше о нас")
    
    .index__services.content
      .services__header
        +blockTitle("01", "Ведущие практики", "services__title")
        +moreBtn("/practices", "Все практики")
      ul.services__items
        each service in index_services
          li.services__item
            a(href=service.url)
              .services__item-img
                img.svg(src=service.img, alt=service.title)
              h4.services__item-title=service.title
              p.services__item-description= service.description

    .index__trust-us
      +trustUs(index_trust_us, "02", "Нам доверяют", "trust-us__title")

    .index__testimonials.content
      .testimonials__header
        +blockTitle("03", "Мнение клиентов", "testimonials__title")
        .testimonials__slider-navigation.slider-navigation
          .testimonials__slider-navigation-item.slider-navigation-item.testimonials__slider-navigation-prev.slider-navigation-prev
            img.svg(src="assets/images/icons/slider-arrow.svg", alt="prev")
          .testimonials__slider-navigation-item.slider-navigation-item.testimonials__slider-navigation-next.slider-navigation-next
            img.svg(src="assets/images/icons/slider-arrow.svg", alt="next")
      .testimonials__slider.swiper-container
        .testimonials__slider-wrapper.swiper-wrapper
          each testimonial in index_testimonials
            .testimonials__slider-slide.swiper-slide
              .testimonials__img
                if testimonial.img
                  .testimonials__img-block
                    img(src=testimonial.img, alt="Фото клиента")
                else
                  .testimonials__img-block.no-photo
                    img.svg(src="assets/images/icons/no-photo.svg", alt="Нет фото")
              .testimonials__content
                p.testimonials__content-name= testimonial.name
                p.testimonials__content-position= testimonial.position
                p.testimonials__content-text= testimonial.text

block footer
  include ../partials/_footer.pug
