extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  -
    const practices = [
      {
        url: "#",
        title: "Инвестиционное и налоговое право",
      },
      {
        url: "#",
        title: "Корпоративное и трудовое право",
      },
      {
        url: "#",
        title: "Разрешение споров",
      },
      {
        url: "#",
        title: "Уголовно-правовая защита бизнеса",
      },
      {
        url: "#",
        title: "Сопровождение банкротства",
      },
      {
        url: "#",
        title: "Земельные и имущественные отношения",
      },
      {
        url: "#",
        title: "Частные детективы и розыск активов",
      },
      {
        url: "#",
        title: "Санкционное право",
      },
    ]

    const practices_services = [
      {
        title: "Управление прямыми инвестициями",
        list: [
          {
            text: "Комплексное сопровождение процесса направления денежных средств в капитал предприятий с целью извлечения прибыли через повышение ликвидности, совершенствование корпоративного управления и снижение правовых рисков.",
          },
        ]
      },
      {
        title: "Управление инвестициями в недвижимость",
        list: [
          {
            text: "Консультирование сделок по приобретению коммерческой и производственной недвижимости с целью повышения ликвидности объекта для дальнейшей сдачи в аренду или управления с учётом правовых и экономических рисков.",
          },
          {
            text: "Консультирование по вопросам приобретения объектов недвижимости в зарубежных юрисдикциях совместно с партнёрами, осуществляющими операционную деятельность за рубежом.",
          },
        ]
      },
      {
        title: "Управление предприятиями",
        list: [
          {
            text: "сопровождение инвестиционной деятельности, связанной с капиталовложениями в предприятия, испытывающие сложности с операционной ликвидностью, но обладающие высоким потенциалом роста с целью финансового оздоровления и увеличения прибыли через введение кризисного управления и приведение деятельности в соответствие с нормами действующего законодательства;",
          },
          {
            text: "консультирование и комплексное сопровождение процессов реорганизации бизнеса и структурирования активов предприятий различных форм собственности;",
          },
          {
            text: "осуществление в интересах клиента полномочий органов управления юридического лица (в качестве управляющей компании, члена Совета директоров и др.);",
          },
          {
            text: "осуществление в интересах клиента прав акционера или участника юридического лица.",
          },
        ]
      },
      {
        title: "Управление ликвидной дебиторской задолженностью",
        list: [
          {
            text: "Приобретение прав требования по неисполненным денежным обязательствам с получения прибыли через механизмы внесудебного или арбитражного урегулирования конфликта.",
          },
        ]
      },
      {
        title: "Налоговое консультирование",
        list: [
          {
            text: "консультирование по налоговым выплатам в контексте совершаемых локальных и международных сделок, включая инвестиционные проекты (оптимизация налоговой базы, выявление и оценка рисков нарушения налогового законодательства при совершении сделки);",
          },
          {
            text: "консультирование по налоговому законодательству в связи с планами международного развития бизнеса, по вопросам двойного налогообложения;",
          },
          {
            text: "консультирование представительств иностранных организаций по соблюдению норм российского налогового законодательства.",
          },
        ]
      },
      {
        title: "Услуги по досудебному разрешению налоговых споров",
        list: [
          {
            text: "сопровождение налоговых проверок организации;",
          },
          {
            text: "обжалование решений налоговых органов о привлечении к ответственности за нарушение налогового законодательства в административном порядке.",
          },
        ]
      },
      {
        title: "Фирма оказывает следующий набор юридических и консалтинговых услуг в рамках проектов:",
        list: [
          {
            text: "правовая проверка объекта инвестиций (Due Diligence);",
          },
          {
            text: "финансовая проверка объекта инвестиций (Financial Due Diligence);",
          },
          {
            text: "правовая проверка контрагентов юридических лиц (здравая осмотрительность и принцип KYC);",
          },
          {
            text: "переговоры с представителями объекта инвестирования;",
          },
          {
            text: "оценочная деятельность и финансовый анализ;",
          },
          {
            text: "переговоры с представителями кредитных организаций;",
          },
          {
            text: "привлечение дополнительных средств через прямые инвестиции;",
          },
          {
            text: "анализ перспективности отрасли, географического положения и позиций юридического лица, объекта инвестиций на рынке (маркетинговые исследования);",
          },
          {
            text: "разработка бизнес-плана развития юридического лица;",
          },
          {
            text: "консультирование по вопросам инвестиционного кредитования (банковских гарантий) и взаимодействия с финансово-кредитными учреждениями;",
          },
          {
            text: "разработка планов и сценариев возврата инвестиций;",
          },
          {
            text: "структурирование активов, сделок и инвестиционных проектов, разработка и подготовка необходимой правовой документации;",
          },
          {
            text: "представление интересов в корпоративных процедурах и реализация полномочий корпоративного контроля;",
          },
          {
            text: "представление интересов в административных процедурах по взаимоотношениям с регуляторами (Центральный банк России, Федеральная антимонопольная служба, Федеральная налоговая служба и иные контролирующие органы).",
          },
        ]
      }
    ]
    
  main.main.practices
    include ../components/_order-consult.pug
      
    .practices__content.content
      h1.title Практики
      .practices__content-block
        ul.practices__menu
          each practice, i in practices
            if i == 0
              li.practices__menu-item.active
                a.practices__menu-link(href=practice.url)= practice.title
            else
              li.practices__menu-item
                a.practices__menu-link(href=practice.url)= practice.title
        .practices__right
          .practices__about
            +blockTitle("01", "О практике", "practices__about-title")
            .practices__about-text-1
              p Практика включает несколько направлений, вместе образующих широкий инструментарий управления процессами движения капитала. Так налоговая специализация построена на многолетнем опыте успешного консультирования средних и развитых предприятий, включая крупных налогоплательщиков, а также на представительстве их интересов в сложных налоговых спорах.
            .practices__about-text-2
              p Приоритетами в области сопровождения сделок и инвестиционных проектов являются целесообразность, надёжность и ликвидность. Инвестиционные проекты, в которых участвует фирма, отличаются тщательным финансовым анализом, рациональным подходом к вопросам управления, определением чёткого плана и снижением правовых рисков для участников.
          .practices__services
            .practices__services-header
              +blockTitle("02", "Услуги", "practices__services-title")
              +moreBtn("#", "Заказать консультацию", "js-open-btn", "js-order-consult-btn")
            ul.practices__services-block
              each service, i in practices_services       
                li.practices__services-item
                  .practices__services-item-trigger
                    span.practices__services-item-number= (i + 1)
                    p.practices__services-item-title= service.title
                    .trigger__caret
                      span
                  .practices__services-item-content
                    ul.services__list
                      each item in service.list
                        li.services__list-item= item.text


block footer
  include ../partials/_footer.pug
